/* Reset and basic styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background-color: white;
}
body {
	display: grid;
	grid-template-areas: 
		"header"
		"nav"
		"main"
		"footer";
	grid-template-rows: auto auto 1fr auto; /* All rows sized automatically */
	width: 98%;
	max-width: 960px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

/* Header styles */
header {
	grid-area: header;
	padding: 0; /* Adjust padding as needed */
	border-bottom: 3px solid #931420;
	background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}
header h2 {
	font-size: 175%;
	color: #800000;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 3.75%;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}

/* Navigation styles */
#nav_menu {
	grid-area: nav;
}
#nav_menu ul {
	display: grid;
	grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
	list-style-type: none;
	margin: 0;
	padding: 0;
	align-items: center; /* Center items vertically */
}
#nav_menu ul li {
	display: grid;
}
#nav_menu ul li a {
	text-align: center;
	padding: 1em 0;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}

/* Main styles */
main {
	display: grid;
	grid-template-areas: 
		"section aside"; 
	grid-template-columns: 30% 1fr; /* 30% for section, rest for aside */
	grid-gap: 2.5%;
	grid-row: 3;
}
section {
	grid-area: section;
	padding: 0 2.5% 20px 0; /* Adjusting padding */
}
section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
}
section h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
section p {
	padding-bottom: .5em;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
	list-style-type: circle;
}
section li {
	padding-bottom: .35em;
}

/* Article styles */
article {
	padding: .5em 0;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}
article h2 {
	padding-top: 0;
}
article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
article img {
	float: right;
	max-width: 40%;
	min-width: 150px;
	margin: .5em 0 1em 1em;
	border: 1px solid black;
}

/* Aside styles */
aside {
	grid-area: aside;
	padding-left: 2.5%;
}
aside h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}

/* Footer styles */
footer {
	grid-area: footer;
	background-color: #931420;
}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}

/* Mobile menu */
#mobile_menu {
	display: none;
}

/* Media Queries */
@media only screen and (max-width: 734px) {
	section h1 {
		font-size: 125%;
	}
	section h2, aside h2 {
		font-size: 110%;
	}
	aside h3 a {
		font-size: 85%;
	}
}

@media only screen and (max-width: 648px) {
	header {
		display: grid;
		grid-template-rows: auto auto auto; /* Three rows */
		gap: 0.5em;
		text-align: center;
	}
	header img {
		float: none;
	}
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	#mobile_menu {
		background-color: #800000 !important;
	}
	main {
		grid-template-areas: 
			"section"
			"aside"; 
		grid-template-rows: auto auto; /* Two rows */
	}
	section {
		padding: 0 2.5% 20px 0; /* Adjusting padding */
	}
	aside {
		padding: 0 2.5%;
	}
}

@media only screen and (max-width: 414px) {
	body { font-size: 90%; }
}
